html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #09090f;
  color: white;
}

body {
  background: linear-gradient(
    180deg,
    #09090f 0%,
    #111827 50%,
    #050816 100%
  );
}